simulation
*.log
*.bit
*.db
*.area

Listings
Objects
*.uvguix.liyuxuan
*.d
*.o
*.crf
*.dep
*.htm
*.hex
*.axf
*.lnp
*.sct
*.txt
*.uvguix.Frank
*.iex
*.scvd

*.tsm
*.timing
*.bid
*.sdc

ScreenTest

work
*.cr.mti
transcript
*.wlf